.btn {
  display: inline-block;
  padding: 8px 25px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  font: 1rem $base-font;
  background: $base-color;
  color: #fff;
  border: 0;
  text-decoration: none;
  border-radius: 4px;

  @media screen and (min-width:1300px) {
    @include transition(all .5s ease);
  }

  &:hover {
    background: darken($base-color, 10%);
  }

}

// Outline

.btn-outline {
  background: transparent;
  color: $base-color;
  border: 2px solid $base-color;
  padding: 6px 20px;

  &:hover {
    background: $base-color;
    color: #fff;
  }

}

// small button
.btn-sm {
  padding: 5px 10px;
  font-size: 0.875rem;
}
